<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCR80AQImdpm-DRmSd359CSpERfQJmpXX8</string>
	<key>GCM_SENDER_ID</key>
	<string>290765633463</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tanschedule</string>
	<key>PROJECT_ID</key>
	<string>university-scheduler-e145a</string>
	<key>STORAGE_BUCKET</key>
	<string>university-scheduler-e145a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290765633463:ios:be745b072043cd34855a32</string>
</dict>
</plist>